In [1]:
import numpy as np
import pandas as pd

In [2]:
pd.__version__

'2.2.2'

### SERIES OBJECT

In [3]:
numbers = [1,2,3,4,5]

series_from_list = pd.Series(numbers)

# The print reveals the series to be in column form and have indexing
series_from_list

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [6]:
# SPECIFYING CUSTOM  INDEXING
series_data = pd.Series([1,2,3,4,5], index=["a", "b", "c", "d", "e"])

print(series_data)

a    1
b    2
c    3
d    4
e    5
dtype: int64

CREATING FROM A DICTIONARY

In [25]:
dictionary = {"Alvin": 20, "Jack": 200, "Kevin": 100}

series = pd.Series(dictionary)
series

dtype('int64')

### DATAFRAMES

In [18]:
df = pd.DataFrame({
    "a": [1,2,3,4],
    "b": ["Alvin","Jack", 'Jill', 'James'],
    "c": ["K", "R", None, "J"]
})

print(df)

   a      b     c
0  1  Alvin     K
1  2   Jack     R
2  3   Jill  None
3  4  James     J

In [53]:
data = [["Alvin", 20, "Computer"], ["James", 30, "Laptop"], ["Jull", 12, "Juicer"]]

df = pd.DataFrame(data, columns=["Name", 'Age', "Machine"])
df

    Name  Age   Machine
0  Alvin   20  Computer
1  James   30    Laptop
2   Jull   12    Juicer

In [32]:
names = pd.Series(["Alvin", "Jack", 'Jill'])
ages = pd.Series([20, 10, 17])

print(pd.DataFrame({"Name": names, "Age": ages}))

    Name  Age
0  Alvin   20
1   Jack   10
2   Jill   17

DESCRIPTIVE FUNCTIONS

In [19]:
df.describe

<bound method NDFrame.describe of    a      b     c
0  1  Alvin     K
1  2   Jack     R
2  3   Jill  None
3  4  James     J>

In [20]:
df.value_counts()

a  b      c
1  Alvin  K    1
2  Jack   R    1
4  James  J    1
Name: count, dtype: int64

In [21]:
df.nunique()

a    4
b    4
c    3
dtype: int64

In [22]:
df.shape

(4, 3)

In [46]:
df.tail()

    Name  Age   Machine
0  Alvin   20  Computer
1  James   30    Laptop
2   Jull   12    Juicer

In [52]:
df.head()

    Name  Age   Machine
0  Alvin   20  Computer
1  James   30    Laptop
2   Jull   12    Juicer

INDEXING

ILOC

In [56]:
# INDEX LOCATOR
# .iloc(row, column)
# data.iloc[1,1]

df.iloc[:, 1]

0    20
1    30
2    12
Name: Age, dtype: int64

LOC

In [64]:
print(df.loc[1, :])

Name        James
Age            30
Machine    Laptop
Name: 1, dtype: object

### PD FUNCTIONS

In [37]:
pd.options.display.max_columns = 1000

In [36]:
data = pd.read_json("./data.json")

    Name  Age        Skill
0  Alvin   20     Computer
1   Jack   10  Engineering

np.int64(10)

In [18]:
import pandas as pd
data = pd.Series([1,2,3,4,5])
5 in data
list(data.items())
data[3]

np.int64(4)