# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Create a data dictionary that looks like the DataFrame below

In [3]:
data = {
    "evolution": ["Ivysaur", "Charmeleon", "Wartortle", "Metapod"],
    "hp": [45, 39, 44, 45],
    "name": ["Bulbasaur", "Charmander", "Squirtle", "Caterpie"],
    "pokedex": ["yes", "no", "yes", "no"],
    "type": ["grass", "fire", "water", "bug"]
}

    evolution  hp        name pokedex   type
0     Ivysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmander      no   fire
2   Wartortle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

### Step 3. Assign it to a variable called pokemon

In [5]:
pokemon = pd.DataFrame(data)
pokemon

    evolution  hp        name pokedex   type
0     Ivysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmander      no   fire
2   Wartortle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [8]:
pokemon = pokemon[['name', 'type', 'hp', 'evolution', 'pokedex']]

### Step 5. Add another column called place, and insert what you have in mind.

In [9]:
pokemon['place'] = ['Kenya', "Uruguay", "Peru", "Georgia"]
pokemon

C:\Users\user\AppData\Local\Temp\ipykernel_18236\2885820586.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pokemon['place'] = ['Kenya', "Uruguay", "Peru", "Georgia"]

         name   type  hp   evolution pokedex    place
0   Bulbasaur  grass  45     Ivysaur     yes    Kenya
1  Charmander   fire  39  Charmeleon      no  Uruguay
2    Squirtle  water  44   Wartortle     yes     Peru
3    Caterpie    bug  45     Metapod      no  Georgia

### Step 6. Present the type of each column

In [10]:
pokemon['type']

0    grass
1     fire
2    water
3      bug
Name: type, dtype: object

### BONUS: Create your own question and answer it.